<style type="text/css">
<!--
body {
background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTDogzOt8YpImERWhvU6L1Z-HLpF2Rtd1ZA85S2xwDodkfOdLSz);
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
}
-->
</style>

<h1>This is the about page</h1>

<%= link_to "Home", root_path %>