<style type="text/css">
<!--
body {
background-image: url(http://www.newsarama.com/images/i/000/197/241/i02/Batman22.jpg);
background-position: fixed;
background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover;
}
-->
</style>

<h1 style="text-align: center;"> Welcome to the Alpha-Blog! </h1>


<%= link_to "About", about_path %>